In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname = "C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

# 음수지원
import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

## 2000년 ~ 2021년 간, 경찰서별 5대범죄 발생 검거 현황
### 데이터 출처 : https://www.data.go.kr/data/15054738/fileData.do

In [4]:
crime = pd.read_csv("data/경찰서별00-21.csv", encoding = "euc-kr")

In [90]:
crime.head()

   구분  죄종 발생검거   건수
0  중부  살인   발생    4
1  중부  살인   검거    4
2  중부  강도   발생    3
3  중부  강도   검거    3
4  중부  강간   발생  109

In [83]:
# crime[(crime["죄종"]=="살인")&(crime["발생검거"]=="검거")]

      구분  죄종 발생검거  건수  죄종결과
1     중부  살인   검거   4  살인발생
11    종로  살인   검거   0  살인발생
21   남대문  살인   검거   2  살인발생
31   서대문  살인   검거   3  살인발생
41    혜화  살인   검거   3  살인발생
51    용산  살인   검거   2  살인발생
61    성북  살인   검거   2  살인발생
71   동대문  살인   검거   4  살인발생
81    마포  살인   검거   3  살인발생
91   영등포  살인   검거   8  살인발생
101   성동  살인   검거   4  살인발생
111   동작  살인   검거   3  살인발생
121   광진  살인   검거   3  살인발생
131   서부  살인   검거   3  살인발생
141   강북  살인   검거   4  살인발생
151   금천  살인   검거   6  살인발생
161   중랑  살인   검거   4  살인발생
171   강남  살인   검거   6  살인발생
181   관악  살인   검거   4  살인발생
191   강서  살인   검거   7  살인발생
201   강동  살인   검거   3  살인발생
211   종암  살인   검거   1  살인발생
221   구로  살인   검거   5  살인발생
231   서초  살인   검거   9  살인발생
241   양천  살인   검거   1  살인발생
251   송파  살인   검거   3  살인발생
261   노원  살인   검거   6  살인발생
271   방배  살인   검거   0  살인발생
281   은평  살인   검거   2  살인발생
291   도봉  살인   검거   2  살인발생
301   수서  살인   검거   5  살인발생

In [91]:
for a in range(31):
    crime.loc[a*10 + 0, '죄종결과'] = '살인발생'
    
for a in range(31):
    crime.loc[a*10 + 1, '죄종결과'] = '살인검거'

for a in range(31):
    crime.loc[a*10 + 2, '죄종결과'] = '강도발생'
    
for a in range(31):
    crime.loc[a*10 + 3, '죄종결과'] = '강도검거'
    
for a in range(31):
    crime.loc[a*10 + 4, '죄종결과'] = '강간발생'
    
for a in range(31):
    crime.loc[a*10 + 5, '죄종결과'] = '강간검거'

for a in range(31):
    crime.loc[a*10 + 6, '죄종결과'] = '절도발생'
    
for a in range(31):
    crime.loc[a*10 + 7, '죄종결과'] = '절도검거'
    
for a in range(31):
    crime.loc[a*10 + 8, '죄종결과'] = '폭력발생'
    
for a in range(31):
    crime.loc[a*10 + 9, '죄종결과'] = '폭력검거'

In [92]:
crime

     구분  죄종 발생검거    건수  죄종결과
0    중부  살인   발생     4  살인발생
1    중부  살인   검거     4  살인검거
2    중부  강도   발생     3  강도발생
3    중부  강도   검거     3  강도검거
4    중부  강간   발생   109  강간발생
..   ..  ..  ...   ...   ...
305  수서  강간   검거   129  강간검거
306  수서  절도   발생   855  절도발생
307  수서  절도   검거   423  절도검거
308  수서  폭력   발생  1198  폭력발생
309  수서  폭력   검거  1050  폭력검거

[310 rows x 5 columns]

In [100]:
crime = crime.drop(["죄종","발생검거"], axis=1)

In [98]:
crime = crime.set_index("구분")

In [101]:
crime.head()

     건수  죄종결과
구분
중부    4  살인발생
중부    4  살인검거
중부    3  강도발생
중부    3  강도검거
중부  109  강간발생

In [102]:
crime.to_csv("data/crime.csv", encoding="utf-8")

In [19]:
crime[crime["구분"]=="중부"]

   구분  죄종 발생검거   건수
0  중부  살인   발생    4
1  중부  살인   검거    4
2  중부  강도   발생    3
3  중부  강도   검거    3
4  중부  강간   발생  109
5  중부  강간   검거   57
6  중부  절도   발생  765
7  중부  절도   검거  426
8  중부  폭력   발생  945
9  중부  폭력   검거  801